.title{
    font-size:18px;
    font-weight: bold;
    margin: 0;
}
.subTitle{
    font-size:20px;
    margin: 0;
}
.textWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}
.wrapper{
    display:flex;
    width:100%;
    height: 150px;
    background-color:#faf8ee;
    grid-area: profileInfo;
}
@media only screen and (max-width: 1000px) {
    .wrapper{
        display:flex;
        height: 150px;
        background-color:#faf8ee;
        grid-area: profileInfo;
        justify-content: space-between;

    }
    .leftSideProfileWrapper{
        display:flex;
    }

}
.optionsLogo{
    height: 30px;
    margin-right: 20px;
}
.logoWrapper{
    height: 100%;
    display: flex;
    align-items: center;
}