.wrapper{
    display: grid;
    grid-template-columns:repeat(7,130px);

}
.wrapper:first-child{
    border-left: none;
    background-color: black;
}

.firstCalendarChild{
    border-left: none;
    background-color: black;
}

.taskWrapper{
    display:flex;
}