

.taskName{

    justify-content: center;
    display: flex;
    border-left: 1px solid #d9d9d9;
    margin-top: 5px;
}



.Wrapper{
    height: 444px;
    text-align: center;
    display: flex;
    grid-area: calendarTask;
}
