.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
    .wrapper{
        display: flex;

    }

}
